@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Montserrat:wght@700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,600;6..12,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    max-width: 1171px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
}  

.header {
    margin-top: 30px;
}

.header--child {
    display: flex;
    justify-content: space-between;
}

.header--child--ul {
    margin-top: 5px;
    font-size: 14px;
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.header--child--ul a {
    color:#33323D;
    text-decoration: none;
}



.nav {
    margin-top: 50px;
}

.nav--child--one--img {
    width: 1110px;
    height: 600px;
}

.nav-child--two {
    position: absolute;
    margin-top: -355px;
    background: white;
    color: black;
    width: 445px;
    height: 350px;
}

.nav-child--two--h2 {
    padding-top: 20px;
    font-size: 45px;
}

.nav-child--two--a {
    padding-top: 15px;
    padding-left: 25px;
    position: absolute;
    margin-top: 38px;
    font-size: 14px;
    width: 150px;
    height: 48px;
    color:#FFFFFF;
    text-decoration: none;
    background:#203A4C;
}

.nav-child--two--img {
    margin-top: 38px;
    background: #203A4C;
}


.section {
    margin-top: 100px;
}

.section--child {
    display: flex;
}

.section--child--one--img {
    width: 540px;
    height: 600px;
}

.section--child--two {
    margin-top: 50px;
    margin-left: 200px;
}

.section--child--two--h2 {
    font-size: 32px;
    font-weight: 700;
}

.section--child--two--9 {
    margin-top: 40px;
    width: 270px;
}

.section--child--two--btn {
    background-color: #FFFFFF;
    margin-top: 20px;
    width: 170px;
    height: 40px;
    font-size: 12px;
}


.article {
    margin-top: 110px;
}

.article--child {
    display: flex;
    justify-content: space-between;
}

.article--child--text {
    font-size: 33px;
    width: 300px;
}

.article--child--btn {
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    margin-top: 30px;
    font-size: 12px;
}


.footer {
    margin-top: 50px;
    width: 100%;
    height: 80px;
    background: #33323D;
    color: #FFFFFF;
}

.footer--child {
    display: flex;
    justify-content: space-between;
}

.footer--child--one {
    margin-top: 20px;
    display: flex;
}

.footer--child--one--img {
    width: 50px;
    height: 30px;
}

.footer--child--one--ul {
    margin-left: 20px;
    margin-top: 8px;
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.footer--child--one--ul a {
    color: #fff;
    text-decoration: none;
}

.footer--child--two--img {
    margin-top: 20px;
}



/* MEDIA */

@media only screen and (max-width: 700px) {
    .container {
        max-width: 689px;
        margin-left: auto;
        margin-right: auto;
    }

    .nav--child--one--img {
        width: 630px;
        height: 500px;
    }


    .nav-child--two {
        position: absolute;
        margin-top: -306px;
        background: white;
        color: black;
        width: 420px;
        height: 300px;
    }
    
    .nav-child--two--h2 {
        width: 350px;
        padding-top: 70px;
        font-size: 32px;
    }
    
    .nav-child--two--a {
        padding-top: 15px;
        padding-left: 25px;
        position: absolute;
        margin-top: 53px;
        font-size: 14px;
        width: 150px;
        height: 48px;
        color:#FFFFFF;
        text-decoration: none;
        background:#203A4C;
    }
    
    .nav-child--two--img {
        margin-top: 53px;
        background: #203A4C;
    }

    .section--child {
        display: flex;
        justify-content: center;
    }

    .section--child--one {
        position: relative;
        overflow: hidden;
        width: 500px;
        height: 550px;
    }

    .section--child--one--img {
        position: absolute;
        object-position: -110px;
        width: 400px;
        height: 600px;
    }

    
    .section--child--two {
        margin-left: -50px;
    }
    
  }


  @media only screen and (max-width: 320px) {
    body {
        width: 320px;
    }

    .header--child--ul {
        display: none;
    }

    .nav--child--one--img {
        width: 240px;
        height: 180px;
    }

    .nav-child--two {
        margin-top: 0px;
        width: 220px;
    }

    .nav-child--two--h2 {
        margin-top: -50px;
        font-size: 25px;
        width: 220px;
    }
    
    .a {
        margin-top: 10px;
    }

    .section {
        margin-top: 500px;
    }

    .section--child--one {
        display: none;
    }
    
    .section--child--two {
        margin-top: 250px;
    }

    .section--child--two--9 {
        width: 200px;
    }

    .article--child {
        display: block;
    }

    .article--child--text{
        font-size: 32px;
        width: 250px;
        text-align: center;
    }

    .article--child--btn {
        margin-left: 50px;
    }


    .footer {
        width: 299px;
        height: 330px;
        background: #33323D;
        color: #FFFFFF;
    }

    .footer--child {
        display: block;
    }

    .footer--child--one {
        display: block;
    }

    .footer--child--one--img {
        width: 50px;
        margin-left: 110px;
        margin-top: 50px;
    }

    .footer--child--one--ul {
        margin-top: 20px;
        text-align: center;
        display: block;
    }

    .footer--child--one--ul li {
        margin-top: 20px;
    }

    .footer--child--two--img {
        margin-top: 30px;
        margin-left: 80px;
    }

  }


